*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(15, 12, 12);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    /*Generar cambios en la transicion*/
    transition: 0.5s;
    /*Clase agregada*/
    &.toggleBlanco{
        background-color: white;
    }
}
#toggle{
    height: 160px;
    width: 320px;
    background: #1b1b1b;
    /*Sombras internas*/
    box-shadow: inset 0 8px 60px rgba(0, 0, 0, 0.1), /*La sombre viene desde arriba*/
                inset 0 8px 8px rgba(0, 0, 0, 0.1), /*Sombra con difuminacion desde ariiba con menos distorsion*/
                inset 0 -4px 4px rgba(0, 0, 0, 0.1); /*Es una sombre desde -4 eje*/
    position: relative;
    border: none;
    cursor: pointer;
    transition: 0.5s;
    appearance: none;
    border-radius: 160px;
    &.toggleBlanco{
        background-color: white;
        box-shadow: inset 0 2px 60px rgba(0, 0, 0, 0.1),
                    inset 0 2px 8px rgba(0, 0, 0, 0.1),
                    inset 0 -4px 4px rgba(0, 0, 0, 0.1);
        /*Generar movimiento en el boton*/
        .circulo{
            left: 160px;
            box-shadow: 0 8px  20px rgba(0, 0, 0, 0.1),
            inset 4px 4px rgba(255, 255, 255, 1),
            inset -4px 4px rgba(255, 255, 255, 1);
            background: linear-gradient(to bottom, white, #fafafa);
        }
    }
}
.circulo{
    position: absolute;
    top: 0;
    left: 0;
    width: 160px;
    height: 160px;
    content: "";
    /*Un efecto de abajo hacia arriba*/
    background: linear-gradient(to bottom, #444, #222);
    border-radius: 50vh;
    /*Transformar la escala para que se encuentre un poco mas adentro del contenedor*/
    transform: scale(0.9);
    transition: 0.5s;
    /*Sombra externa*/
    box-shadow: 0 5px 40px rgba(0, 0, 0, 0.5),
        /*Sombre interna*/
        inset 4px 4px rgba(255, 255, 255, 0.2),
        inset -4px 4px rgba(255, 255, 255, 0.2);
    
}